#content {
	width: 100%;
	text-align: center;
}

#glcanvas {
  width: 1600px;
  height: 920px;	
}

canvas {
	display: none;
	border: 1px solid black;
}

#gameOver {
	position: absolute;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: inline;
}

h2 {
	text-align: center;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}

#credits{
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#controls{
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

